.main-content {
    padding: 40px 15px;
    text-align: center;
}

.navbar {
    padding-left: 50px;
}

.card {
    margin: 30px;
    height: auto;
}

.img-fluid {
    max-width:100%;
    max-height:100%;
}

.card-right-content {
    width: auto;
    height: 195px;
}

.filter-input {
    width: 20%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.title-image {
    margin-bottom: 20px;
}
  